@{
    ViewData["Title"] = "Terms and Rules";
}
<h1>@ViewData["Title"]</h1>
<br />
<h5>About Your Privacy and This Privacy Policy</h5>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada eros a nisl tempus placerat. Donec feugiat vehicula mauris quis posuere. Nam faucibus velit lectus, sed scelerisque enim luctus quis. Duis vulputate semper risus faucibus facilisis. Vivamus convallis tellus ac ante ornare suscipit. Curabitur bibendum felis nisl, a efficitur tellus scelerisque ac. Nunc condimentum, nibh fermentum scelerisque sodales, enim eros auctor mauris, nec consectetur metus nisl non quam. Quisque mollis neque in mauris iaculis, non suscipit purus facilisis. Orci varius natoque penatibus et magnis dis parturient montes.
</p>
<p>
    Suspendisse in elementum sapien, vel egestas turpis. Aenean vitae turpis ante. Curabitur auctor, lorem sagittis gravida fringilla, nulla nibh hendrerit ipsum, vitae iaculis leo ipsum in enim. Morbi feugiat porta orci, et euismod massa volutpat eget. Mauris tempor a velit quis feugiat. Integer quis suscipit mi.
</p>
<h5>Information Collection, Use, and Disclosure</h5>
<p>Etiam suscipit faucibus tellus. In non facilisis lectus. Vestibulum auctor efficitur nibh vitae lobortis. Proin tristique neque sit amet massa convallis, ut commodo mauris tincidunt. Integer neque orci, auctor non orci non, euismod fringilla ante. Aenean sed nisi nec mi vestibulum vestibulum at eu nibh. Morbi laoreet, enim vel auctor interdum, ligula metus eleifend turpis, id iaculis eros massa eget quam.</p>
<h5>Delivery of services to you</h5>
<p>
    <ul>
        <li>Suspendisse at enim purus. </li>
        <li>Nullam tincidunt iaculis velit sollicitudin ultrices.</li>
        <li>Ut sodales sagittis elit sed vulputate.</li>
    </ul>
</p>
<h5>Purposes for Which Information is Disclosed to Third Parties</h5>
<p>
    Donec pharetra erat vel odio vulputate luctus. Duis consectetur, urna ac vehicula facilisis, erat ipsum tempus urna, blandit convallis tortor risus non magna. Proin ullamcorper dolor a tellus ultrices, ac varius neque ornare. Donec pretium id felis vitae porttitor. Nulla facilisi. Nam vestibulum id nisl nec scelerisque. Curabitur mollis, massa at pharetra sagittis, neque neque ultricies leo, eu accumsan ipsum neque vitae nibh. Donec blandit non neque ut vehicula. 
</p>