

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PerfectHelp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PerfectHelp.Web.styles.css" asp-append-version="true" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
          rel="stylesheet" />
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:wght@300&family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                         height="15"
                         alt="MDB Logo"
                         loading="lazy" />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="MySpace" asp-action="Index">My Space</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" asp-controller="MySpace" asp-action="Index">Therapyst</a>
                    </li>
                    <!-- Navbar dropdown -->
                    @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Administration
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" asp-controller="Newsletter" asp-action="Index">Newsletters</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Messages</a>
            </li>
            @if(User.IsInRole("admin")){
            <li>
              <a class="dropdown-item" href="#">My Cources</a>
            </li>
            }
                                
          </ul>
        </li>
                        }
                        
                </ul>
                <!-- Left links -->
            </div>
            
            <!-- Collapsible wrapper -->
            <!-- Right elements -->
            <div class="d-flex align-items-center">               
                <partial name="_LoginPartial" />
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
@*        @if (User.IsInRole("Admin"))
        {
            <p>usera e admin</p>
            
            <div class="d-flex align-items-center">               
                <partial name="_AdminLayout" />
            </div>
        }*@

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        
    </div>
    <footer class="bg-light text-center text-lg-start container">
  <!-- Grid container -->
  <div id="subscribe" class="container p-4 pb-0">
        <div id="subscribe-alert" ></div>
    <form action="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0">
          <p class="pt-2">
            <strong>Sign up for our newsletter</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
       
        <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!--Alert-->

           
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="newsletter-subscribe" class="form-control" />
            <label class="form-label" for="newsletter-subscribe">Email address</label>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto mb-6 mb-md-0">
          <!-- Submit button -->
          <button id="btn-subscribe" type="submit" class="btn btn-primary mb-4">
            Subscribe
          </button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>

  </div>

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
